* {
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: transparent;
    background-image: url("img/bg_kiosco.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
    background-size: cover;
}

.easybar {
    width: 0%;
}

.easybar-image {
    float: right;
}

.button-row {
    margin-top: 15px;
}

.code-row {
    margin-top: 15px;
}

.animate-button {
    margin-left: 40px;
}

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none;
}

.easybar-wrapper {
    padding-left: 0px !important;
    background: url("img/bg_progress.png");
    background-repeat: no-repeat;
    margin-left: 655px;
    margin-top: 750PX;
    width: 642px;
    height: 165px;
}

.easybar-background {
    width: 410px;
    height: 20px;
    margin-left: 55px;
    margin-top: 77px;
}

.panel-body {
    padding: 30px !important;
}

.progressText {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    float: left;
    margin-top: -75px;
    margin-left: -20px;
    padding-left: 80px;
    padding-top: 20px;
    background: url("img/ico-trebol.png");
    background-repeat: no-repeat;
    height: 75px;
    text-shadow: 0 0 10px #3c1280;
}

.flare {
    position: relative;
    z-index: 5;
    background: url("img/flare.png");
    background-repeat: no-repeat;
    width: 105px;
    height: 105px;
    margin-top: -80px;
    margin-left: 490px;
}

.rwd {
    position: relative;
    z-index: 10;
    background: url("img/reward.png");
    background-repeat: no-repeat;
    width: 85px;
    height: 85px;
    margin-top: -100px;
    margin-left: 500px;
}

.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    width: 1920px;
    height: 1080px;
}

.popup.active {
    visibility: visible;
}

.textRwd {
    color: #fff;
    position: fixed;
    z-index: 200;
    font-size: 52px;
    text-shadow: 3px 3px 4px black;
    font-weight: bold;
    margin-left: 300px;
    margin-top: -260px;
}

.msjtip {
    color: #fff;
    font-size: 18px;
    text-shadow: 2px 2px 3px black;
    background-color: #f3aa2f;
    text-align: center;
    position: fixed;
    margin-left: 659px;
    margin-top: 720px;
    z-index: -5;
    width: 635px;
    height: 60px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    visibility: hidden;
}

.msjtip.active {
    visibility: visible;
}